@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?ce6lqp');
  src:  url('/fonts/icomoon.eot?ce6lqp#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?ce6lqp') format('truetype'),
    url('/fonts/icomoon.woff?ce6lqp') format('woff'),
    url('/fonts/icomoon.svg?ce6lqp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop:before {
  content: "\ea1e";
}
.icon-backward:before {
  content: "\ea1f";
}
.icon-last:before {
  content: "\ea22";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-shuffle:before {
  content: "\ea30";
}
