@import url('./icons.css');

/* BASIC UI */

.timeline-container {
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 20%;
  background: #dddddd;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  transform: translate(calc(50% - 35%), 0);
  overflow: hidden;
}

.track-controls {
  width: 100%;
  height: 15%;
  background: #858585;
  display: flex;
}

.track-sub-header {
  width: 100%;
  height: 10%;
  background: #5e5e5e;
  display: flex;
}

.track-body {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #727272 #b3b3b3;
  scrollbar-width: thin;
}

.track-side-container {
  width: 15%;
  height: 100%;
  background: #b8b8b8;
}

.track-addTrack {
  width: 100%;
  background: #b3b3b3;
  border-bottom: 1px solid #999999;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.track-time-container {
  width: 85%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.track-input {
  border: none;
  width: 5%;
  height: 25px;
  border-radius: 2px;
  margin-left: 10px;
  align-self: center;
  padding-left: 10px;
  background: #b8b8b8;
}

.track-input:focus {
  outline: none;
}

.track-ruler {
  width: 100%;
  height: 100%;
  background: #999999;
}

.track-button {
  width: 25px;
  height: 25px;
  background: #727272;
  border: 1px solid #686868;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
}

.player-ruler {
  height: 850%;
  background: #636363;
  width: 1.5px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.player-ruler::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 11%;
  background: #636363;
}

.keyframe-container {
  width: 100%;
  height: 35px;
  position: relative;
}

.keyframe {
  background: #333333;
  padding: 3px;
  top: calc(50% - 1.5px);
  position: absolute;
  border-radius: 50%;
}

.keyframe:hover {
  transform: scale(150%);
}

.property-name {
  color: #333333;
  background: #bbbbbb;
  padding: 0.5rem;
}
